*{
    padding: 0px;
    margin: 0px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: grid;
    grid-gap: 20px;
    border: 10px solid var(--yellow);
    grid-template-rows: 1fr 1.5fr;
    background-color: black;
  }

.logo {
    grid-column: 1;
    grid-row: 1;
    display: grid;
    justify-content: center;
}

#logo {
    height: 250px;
    display: inline-block;
}

.dati {
    grid-column: 1/-1;
    grid-row: 2;
    background-color: #F9FF00;
    height: 300px;
    display: grid;
    grid-template-rows: 70px 100px;
    grid-template-columns: 1fr 1fr 1fr;
}

#priceTable {
    visibility: hidden;
    grid-column: 1/-1;
    grid-row: 2;
    background-color: #F9FF00;
    height: 300px;
}

.da {
    grid-column: 1;
    margin-bottom: 20px;
    margin-left: 5%;
    margin-top: 15px;
}
.a {
    grid-column: 2;
    grid-row: 1;
    margin-bottom: 20px;
    margin-top: 15px;
}

.pacco {
    grid-column: 3;
    grid-row: 1;
    margin-bottom: 20px;
    margin-top: 15px;
}

.inputDa {
    grid-column: 1;
    grid-row: 2;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-left: 5%;
}

.inputA {
    grid-column: 2;
    grid-row: 2;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.dimension {
    grid-column: 3;
    grid-row: 2;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: grid;
    grid-template-rows: 20px 30px 20px 30px 40px;
    grid-template-columns: 1fr 1fr 1fr;
    margin-right: 10px;
}

#pesoText {
    grid-row: 1;
    grid-column: 3;
    float: left;
    display: -moz-box;
}
#peso{
    grid-row: 2;
    grid-column: 1/-1;
}
#altezzaText {
    grid-row: 3;
    grid-column: 1; 
}
#lunghezzaText {
    grid-row: 3;
    grid-column: 2;
}
#larghezzaText {
    grid-row: 3;
    grid-column: 3;
}
#altezza {
    grid-row: 4;
    grid-column: 1;
}
#lunghezza {
    grid-row: 4;
    grid-column: 2;
}
#larghezza {
    grid-row: 4;
    grid-column: 3;
}

#submit {
    grid-row-start: 5;
    grid-column: 3;
    margin-top: 10px;
}
#summary {
    grid-row: 3;
    margin-left: 5%;
    font-size: 25px;
}

#submit {
    background: black;
    border-radius: 6px;
    color: #F9FF00;
    padding: 15px 32px;
    font-size: 16px;
    cursor: pointer;
    padding: 2px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    transition: 200ms;
    text-align: center;
    vertical-align: center;
    margin-left: 2px;
    margin-right: 2px;
}

#submit:hover {
    position: relative;
    border-bottom: 0;
    margin-bottom: -1px;
    font-size: 18px;
}

#addPack {
    grid-row: 5;
    grid-column: 2;
    background: black;
    color: #F9FF00;
    transition: 200ms;
    border-radius: 6px;
    padding: 15px 32px;
    font-size: 16px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    text-align: center;
    vertical-align: center;
    margin-top: 10px;
    cursor: pointer;
    padding: 2px;
    margin-left: 2px;
    margin-right: 2px;
}

#addPack:hover {
    position: relative;
    border-bottom: 0;
    margin-bottom: -1px;
    font-size: 18px;
}

form {
    margin-left: 50px;
}

select {
    height: 30px;
    font-size: 20px;
}

